<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <!-- Centrar texto, cambiar estilo-->
    <ion-title>Mi perfil</ion-title>

    <ion-buttons slot="end">
      <ion-button color="danger">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="profile-header">
    <ion-avatar class="profile-avatar" (click)="fileInput.click()">
      <img [src]="avatar" alt="avatar usuario">
      <ion-icon name="camera-outline" class="camera-icon"></ion-icon>
    </ion-avatar>
    <input type="file" accept="image/*" #fileInput (change)="onAvatarChange($event)" hidden />
    <h2>{{ username }}</h2>
    <p>Primer registro: {{ userSince }}</p>
  </div>

  <!-- Panel personal -->

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-align-self-center">Opciones</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!-- Configuración (prop) -->
        <ion-item [button]="true" [detail]="true">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
        <!-- Notificaciones (prop) -->
        <ion-item [button]="true" routerLink="/historial" [detail]="true">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>Registro semanal</ion-label>
        </ion-item>

        <!-- Términos y condiciones (prop) -->
        <ion-item [button]="true" [detail]="true">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          <ion-label>Términos y condiciones</ion-label>
        </ion-item>

        <!-- Logros (susceptible a cambio) -->
        <ion-item [button]="true" [detail]="true">
          <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
          <ion-label>Mis logros y estadísticas</ion-label>
        </ion-item>

        <!-- Notificaciones -->
        <ion-item [button]="true" [detail]="true">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<!-- Footer -->
<ion-footer>
  <ion-text color="medium" class="ion-text-center">
    <p>Versión 1.0.0 — SmartChef © 2025</p>
  </ion-text>
</ion-footer>

