.profile-header {
  text-align: center;
  margin-top: 1rem;
  align-content:center;
  position: relative;
}

.profile-avatar {
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.camera-icon {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 5px;
  font-size: 1.2rem;
  color: #333;
}

ion-toggle {
  --handle-background-checked: var(--ion-color-dark);
}

.dark ion-content {
  background-color: #121212;
  color: #fff;
}
