<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ receta?.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  @if (receta) {

    <div class="hero-image">
      <img [src]="receta.imagen" alt="Imagen de la receta" />

      <div class="hero-title-overlay">
        <ion-text class="titulo">{{ receta.titulo }}</ion-text>
      </div>
    </div>

    <div class="content-wrapper">


      <div class="chips-row">
        <ion-chip [color]="mapDificultadColor(receta.dificultad)">
          <ion-label>{{ receta.dificultad }}</ion-label>
        </ion-chip>

        <ion-chip color="tertiary">
          <ion-label>{{ receta.categoria }}</ion-label>
        </ion-chip>

        <ion-chip color="secondary">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>{{ receta.tiempoPreparacion }} min</ion-label>
        </ion-chip>
      </div>

      <section class="section">
        <ion-text >Descripción</ion-text>
        <p>{{ receta.descripcion }}</p>
      </section>

      <section class="listaIngredientes">
        <ion-text >Ingredientes</ion-text>
        @for (ingrediente of receta.i)
      </section>

      <section class="section">
        <ion-text>Pasos a seguir</ion-text>

        <ion-list inset="true">
          @for (paso of receta.pasos; track paso.orden) {
            <ion-item lines="full">
              <ion-label>
                <strong>Paso {{ paso.orden }}:</strong>
                <br />
                {{ paso.descripcion }}
              </ion-label>
            </ion-item>
          }
        </ion-list>
      </section>

    </div>

  }

</ion-content>
