<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="stacked"
        name="email"
        type="email"
        [(ngModel)]="form.email"
        [required]="true"
        email>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="stacked"
        type="password"
        [(ngModel)]="form.password"
        name="password"
        [required]="true">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Repetir contraseña"
        labelPlacement="stacked"
        type="password"
        [(ngModel)]="form.password2"
        name="password2"
        [required]="true">
      </ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top" type="submit" [disabled]="loading">
      {{ loading ? 'Creando...' : 'Crear cuenta' }}
    </ion-button>

    <ion-button expand="block" fill="clear" (click)="goLogin()">
      Ya tengo cuenta → Login
    </ion-button>
  </form>
</ion-content>
