<app-header title="Home"></app-header>

<ion-content [fullscreen]="true">

  <div class="recetas-list">
    @for(receta of recetas; track receta.idReceta) {
      <app-receta-card
        [receta]="receta"
        (eliminar)="confirmarEliminar($event)">
      </app-receta-card>
    }
  </div>


  <ion-button id="open-modal"  class="btn-icon">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>

  <!-- MODAL AÑADIR RECETA -->

  <ion-modal trigger="open-modal" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Añadir Receta</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="crearReceta()">Añadir</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item>
          <ion-input
            label="Título"
            labelPlacement="stacked"
            type="text"
            placeholder="Título..."
            [(ngModel)]="formularioReceta.titulo"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Imagen"
            labelPlacement="stacked"
            type="text"
            placeholder="URL imagen receta..."
            [(ngModel)]="formularioReceta.imagen"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Descripción"
            labelPlacement="stacked"
            type="text"
            placeholder="Descripción..."
            [(ngModel)]="formularioReceta.descripcion"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-select id ="dificultad" label="Dificultad">
            <ion-select-option value="FACIL">Fácil</ion-select-option>
            <ion-select-option value="MEDIO">Intermedia</ion-select-option>
            <ion-select-option value="DIFICIL">Difícil</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select id ="tiempoPreparacion" label="Tiempo de Preparación">
            <ion-select-option value="5">5 min</ion-select-option>
            <ion-select-option value="10">10 min</ion-select-option>
            <ion-select-option value="15">15 min</ion-select-option>
            <ion-select-option value="20">20 min</ion-select-option>
            <ion-select-option value="30">30 min</ion-select-option>
            <ion-select-option value="45">45 min</ion-select-option>
            <ion-select-option value="60">60 min</ion-select-option>
          </ion-select>
        </ion-item>

          <ion-item>
            <ion-select id ="preferenciaAlimentaria" label="Preferencias Almientaria" placeholder="Selección múltiple" [multiple]="true">
              <ion-select-option value="VEGANO">Vegano</ion-select-option>
              <ion-select-option value="VEGETARIANO">Vegetariano</ion-select-option>
              <ion-select-option value="SIN_LACTOSA">Sin Lactosa</ion-select-option>
              <ion-select-option value="SIN_GLUTEN">Sin Gluten</ion-select-option>
              <ion-select-option value="KETO">Keto</ion-select-option>
              <ion-select-option value="OMNIVORO">Omnívoro</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-list>
            @for (p of pasos; track $index) {
              <ion-item lines="full">
                <ion-input
                  label="Paso {{$index + 1}}"
                  labelPlacement="stacked"
                  type="text"
                  placeholder="Descripción del paso..."
                  [(ngModel)]="p.descripcion"
                ></ion-input>

                <ion-button
                  fill="clear"
                  (click)="eliminarPaso($index)"
                  slot="end"
                  [disabled]="pasos.length === 1"
                >
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
            }
          </ion-list>
        <ion-button expand="block" color="secondary" (click)="agregarPaso()">
          Añadir paso
        </ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
